<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-haeding">
                        <h3 class="pt-3 font-weight-bold" style="text-align: center;">User Information Edit Panel</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="editForm">
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="editForm.controls['Id'].dirty && editForm.hasError('required','Id')">
                                    <span class="fa fa-user pt-2" style="padding-bottom: 7px;"></span>
                                    <input formControlName="Id" type="text" placeholder="Id">
                                </div>
                            </div>
                            <small *ngIf="editForm.controls['Id'].dirty && editForm.hasError('required','Id')" class="text-danger">
                                *Id is required!
                            </small>
                            <div class="form-group pt-3">
                                <div class="input-field" >
                                    <span class="fa fa-user pt-2" style="padding-bottom: 7px;"></span>
                                    <input formControlName="firstName" type="text" placeholder="First Name">
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user pt-2" style="padding-bottom: 7px;"></span>
                                    <input formControlName="lastName" type="text" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field" >
                                    <span class="fa fa-user pt-2" style="padding-bottom: 7px;"></span>
                                    <input formControlName="email" type="text" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field" >
                                    <span class="fa fa-user pt-2" style="padding-bottom: 7px;"></span>
                                    <input formControlName="userName" type="text" placeholder="Username">
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field" >
                                    <span class="fa fa-lock pt-2" style="padding-bottom: 7px;"></span>
                                    <input formControlName="password" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field" >
                                    <span class="fa fa-lock pt-2" style="padding-bottom: 7px;"></span>
                                    <input formControlName="role" placeholder="Role">
                                </div>
                            </div>
                            <button (click)="editUser()" type="submit" class="btn btn-primary btn-block mt-4 w-100">Edit User</button>
                            <button (click)="goBack()" class="btn btn-primary btn-block mt-4 w-100">Close Screen</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>